<h1>new thing</h1>

<form action="/new" method="post">
  <div>
    <input type="text" name="thing_name" id="name" required>
  </div>
  <div>
    <input type="submit" value="create thing">
  </div>
</form>
